# Function Practice Exercises

### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [87]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [88]:
lesser_of_two_evens(2,4)

2

In [89]:
lesser_of_two_evens(2,5)

5

### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [90]:
def animal_crackers(text):
    words = text.split()
    #print(type(words))
    #for num,word in enumerate(words):
    #print(words[0])
    return words[0][0] == words[1][0]

In [91]:
animal_crackers('Crazy Kangaroo')

False

In [92]:
animal_crackers('Levelheaded Llama')

True

### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False '''

In [93]:
def makes_twenty(n1,n2):
    #return sum([n1,n2]) == 20 or n1 == 20 or n2 == 20
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [94]:
makes_twenty(20,10)

True

In [95]:
makes_twenty(2,3)

False

### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [127]:
def old_macdonald(name):
    new_name = ""
    for num,letter in enumerate(name):
        if num == 0 or num == 3:
            new_name = new_name + letter.upper()
        else:
            new_name = new_name + letter
    return new_name

In [128]:
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA: Given a sentence, return a sentence with the words reversed

In [129]:
def master_yoda(text):
    words = text.split()
    new_words = []
    for i in range(1, len(words)+1):
        new_words.append(words[-i])
    return " ".join(new_words)

In [130]:
master_yoda('I am home')

'home am I'

In [131]:
master_yoda('We are ready')

'ready are We'

### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [133]:
def almost_there(n):
    return abs(n-100) <= 10 or abs(n-200) <=10

In [134]:
almost_there(104)

True

In [135]:
almost_there(150)

False

In [136]:
almost_there(209)

True

### FIND 33: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [97]:
def has_33(nums):
    count = 0
    for indx,number in enumerate(nums):
        #print(indx, number)
        if indx < len(nums)-1:
            #if nums[indx] == 3 and nums[indx+1] == 3:
            if nums[indx:indx+2] == [3,3]:
                count += 1
    return count > 0

In [98]:
has_33([1,3,3])

True

In [99]:
has_33([1,3,1,3])

False

In [100]:
has_33([3,1,3])

False

### PAPER DOLL: Given a string, return a string where for every character in the original there are three character

In [160]:
def paper_doll(text):
    new_word = ""
    for letter in text:
        new_word = new_word + letter*3
    return new_word

In [161]:
paper_doll('Hello')

'HHHeeellllllooo'

In [162]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [172]:
def blackjack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif sum([a,b,c])>21 and (11 in [a,b,c]):
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [173]:
blackjack(5,6,7)

18

In [174]:
blackjack(9,9,9)

'BUST'

In [175]:
blackjack(9,9,11)

19

### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [222]:
def summer_69(arr):
    Final = 0
    indx = 0
    while indx < len(arr):
        if arr[indx] ==6:
            break
        Final = Final + arr[indx]
        #print(arr[indx])
        indx += 1
    while indx < len(arr):
        #print(arr[indx],'Ignore')
        indx += 1
        if arr[indx] == 9:
            indx += 1
            break
    while indx < len(arr):
        Final = Final + arr[indx]
        #print(arr[indx])
        indx += 1
    print(Final)

In [223]:
summer_69([1,3,5])

9

In [224]:
summer_69([4,5,6,7,8,9])

9

In [225]:
summer_69([2,1,6,9,11])

14

### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [50]:
def spy_game(nums):
    list_0 = []
    list_7 = []
    for indx, number in enumerate(nums):
        #print(indx, number)
        #print(number)
        if number == 0:
            list_0.append(indx)
        elif number == 7:
            list_7.append(indx)
            
    return len(list_0) == 2 and len(list_7) == 1 and list_0[0] < list_7[0] and list_0[1] < list_7[0]
    #print(list_0,list_7)

In [51]:
spy_game([1,2,4,0,0,7,5])

True

In [52]:
spy_game([1,0,2,4,0,5,7])

True

In [53]:
spy_game([1,7,2,0,4,5,0])

False

### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [82]:
def count_primes(num):
    count = 0
    for i in range(2,num+1):
        for j in range(2,i):
            if i%j == 0: 
                #print(i, "is not a prime number")
                break
                
        else:
            #print(i, "is a prime number")
            count += 1
                
    print(count)

In [83]:
count_primes(10)

4

In [84]:
count_primes(100)

25

### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

In [2]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ', 3:'*   *', 4:'*****',5:'**** ',6:'   * '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [3]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [4]:
print('Testing')

Testing

Completed Exercises